global
    daemon
    maxconn 4096

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    option http-keep-alive
    option redispatch
    retries 2

frontend fe_http
    bind *:9999
    default_backend be_api

backend be_api
    balance roundrobin
    option httpchk GET /ready
    http-check expect status 200
    server api1 api1:4000 check inter 2s fall 3 rise 2
    server api2 api2:4000 check inter 2s fall 3 rise 2
